{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
  <strong>Booking an appointment</strong>

  <div class="provider">
    <div>
      <img src="/files/{{ provider.avatar }}" />
      <strong>{{ provider.name }}</strong>
    </div>
  </div>
    <form action="/app/appointments/new/{{ provider.id }}" method="post">
      <input type="text" class="flatpickr" placeholder="Please choice one date"</input>

      {# Book times #}

    <div id="hours">
      <label>
        <input type="radio" />
        12:00
        </label>
      <label>
        <input type="radio" />
        13:00
        </label>
      </label>
      <label>
        <input type="radio" />
        14:00
        </label>
      <label>
        <input type="radio" />
        15:00
        </label>
 </label>
 </div>
 <button type="submit">Booked</button>
</div>

    </form>

{# book dates #}
<script type="text/javascript">
  flatpickr('.flatpickr', {
    minDate: new Date(),
    dateFormat: 'm/d/Y'
  })
</script>

{% endblock %}
