{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post">
    <img src="/images/logo.svg" height="42" />

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="Password">

    <button type="submit">Enter</button>

    <a href="/signup">Free account create</a>
  </form>
{% endblock %}

