{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Your booking</strong>
    <p>Take look below on your future bookings:</p>

    <ul class="providers">
      {% for appointment in appointments %}
        <li class="provider">
          <div>
            <img src="/files/{{ appointment.user.avatar }}" />
            <strong>{{ appointment.user.name }} <br> {{ appointment.date | date("HH:mm") }}</strong>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="/app/dashboard" class="logout">Return</a>
  </div>
{% endblock %}
